<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Set grades for thesis</title>
</head>


<body>

<div class="container">

  <form 
  action="#" 
  th:action="@{/saveNewThesis(thesisId=${thesisId})}" th:object="${grades}" method="post">
    <h3>Registration</h3>
    <input type="number" th:field="*{impl}" placeholder="Implementation Grade" /> <br/><br/>
     <input type="number" th:field="*{rep}" placeholder="Report Grade" /> <br/><br/>
     <input type="number" th:field="*{pres}" placeholder="Presentation Grade" /> <br/><br/>

    
    <button type="submit" class="btn btn-info col-2">Submit grades</button> 
    
    <a th:href="@{/seeThesis}" class="btn btn-primary col-2"> Back to Thesis</a>

</form>
</body>
</html>